@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: bg-primary-background;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.page-enter {
  animation: slideInRight 0.5s forwards;
}

.page-exit {
  animation: slideOutLeft 0.5s forwards;
}

.page-register-enter {
  animation: slideInLeft 0.5s forwards;
}

.page-register-exit {
  animation: slideOutRight 0.5s forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-text {
  animation: fadeInFromLeft 3s forwards;
}

/* Styles for settings page */

.toggle-password {
  position: absolute;
  right: 10px;
  top: 60%;
  cursor: pointer;
}

.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #12666c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #57c3ba;
}

.blur-effect {
  filter: blur(20px);
}
